/*------------- BASE IMPORT -------------*/

@import "_base";

/*------------- TABLE OF CONTENTS -------------*/


/*

    1. LOGIN
    2. REGISTRO VEHÍCULO
    3. BUSCAR RUTA

*/


/*------------- 1. LOGIN -------------*/

.login {
    text-align: center;
    &__form {
        input {
            display: block;
            border: 1px solid black;
            width: 100%;
            margin-top: 20px;
            padding: 10px 15px;
        }
    }
    button {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        padding: 10px 15px;
    }
}


/*------------- 2. REGISTRO VEHÍCULO -------------*/

.registroVehiculo {
    &__titulo {
        margin-bottom: 25px;
        text-align: center;
    }
    &__label {
        font-size: 1rem;
    }
    &__input-group {
        margin-bottom: 15px;
    }
    &__input {
        border: 1px solid black;
        padding: 10px 15px;
    }
}


/*------------- 3. BUSCAR RUTA -------------*/

.buscarRuta {
    &__mapa {
        height: 300px;
    }
    &__form-wrapper {
        background-color: #f2f2f2;
        padding: 30px;
    }
    &__form {
        background-color: white;
        padding: 30px;
        margin-bottom: 30px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            z-index: 10;
            width: 1px;
            height: 12%;
            border: 1px dotted black;
            left: 62px;
            top: 60px;
        }
    }
    &__titulo {
        margin-bottom: 25px;
    }
    &__input-wrapper {
        position: relative;
        margin-top: 15px;
        &:before {
            content: "";
            width: 15px;
            height: 15px;
            position: absolute;
            z-index: 20;
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            border-radius: 100%;
        }
        &--origen:before {
            background-color: #419341;
        }
        &--destino:before {
            background-color: #c63636;
        }
        &--parada:before {
            background-color: #fcf32a;
        }
    }
    &__icon {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 15px;
        width: 35px;
        height: 100%;
        background-color: #419341;
        border: 1px solid black;
        border-radius: 0 2px 2px 0;
        i {
            font-size: 1rem;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 30;
        }
    }
    &__input {
        border: 1px solid black;
        padding: 10px 15px 10px 30px;
        display: block;
        width: 100%;
        border-radius: 2px;
        &--parada {
            padding: 5px 15px;
            width: 88%;
            margin-left: auto;
        }
    }
    &__boton {
        display: block;
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px) {
    .buscarRuta {
        &__mapa,
        &__form-wrapper {
            height: 100vh;
        }
    }
}