<div class="container registroVehiculo centrado">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 registroVehiculo__titulo">
            <h1>Registro vehículo</h1>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 registroVehiculo__form">
            <div class="registro-vehiculo__input-group col-xs-12">
                <label for="placa" class="registroVehiculo__label col-xs-12 col-sm-6">Placa</label>
                <input type="text" id="placa" class="registroVehiculo__input col-xs-12 col-sm-6">
            </div>
            
            <div class="registroVehiculo__input-group col-xs-12">
                <label for="modelo" class="registroVehiculo__label col-xs-12 col-sm-6">Modelo</label>
                <input type="text" id="modelo" class="registroVehiculo__input col-xs-12 col-sm-6">
            </div>
            
            <div class="registroVehiculo__input-group col-xs-12">
                <label for="color" class="registroVehiculo__label col-xs-12 col-sm-6">Color</label>
                <input type="text" id="color" class="registroVehiculo__input col-xs-12 col-sm-6">
            </div>
        </div>
    </div>
</div>