<div class="col-xs-12 ruta shadow">
    <div class="ruta__conductor col-xs-6">
        <h4>Conductor:</h4>
        <span>{{this.conductor}}</span>
    </div>
    
    <div class="ruta__imagen-conductor col-xs-6">
        <img src="" alt="Imagen">
    </div>
    
    <div class="ruta__placa col-xs-12">
        <h4>Placa</h4>
        <span>{{this.placa}}</span>
    </div>
    
    <div class="ruta__btn col-xs-12">
        <button class="btn btn-success" (click)="reservarCupo()">Reservar cupo</button>
    </div>
</div>